* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F45D22;
}

canvas {
    background-color: #043a4a;
}

